@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: none;
}
body {
  position: relative;
  font-family: 'EB Garamond', serif;
  background-color: #000;
  color: #fff;
}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  display: none;
}
